{% extends 'base.html' %}
{% load static %}


{% block title %}
Home Page
{% endblock title %}


{% block extrahead %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock extrahead %}


{% block body %}

<nav class="navbar">
    <h2 class="text">CAR ARQUITECTURA</h2>
    <div class="end-navbar">
        <p class="username text">Bienvenido, {{user}}</p>
        <a class="button" href="/logout/">Cerrar Sesión</a> 
    </div>   
</nav>

<main class="body">
    <div class="message-container">
        {% if  messages %}
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="success-container">
                        <li>{{ message }}</li>
                        <a href="/close/messages/">✕</a>
                    </div>
                {% elif message.tags == "error"  %}
                    <div class="error-container">
                        <li>{{ message }}</li>
                        <a href="/close/messages/">✕</a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <form method="POST" >
        {% csrf_token %}
        {{form.excel}}
        <button class="button">Enviar</button>
    </form>
</main>

{% endblock body %}
    