
<h1>Algunos Estudiantes no fueron cargados correctamente:</h1>


{% if empty_fields %}
<h2>Estudiantes con Campos incompletos:</h2>
<h3>Cantidad: {{empty_fields|length}}</h3>
    <ul>
        {% for item in empty_fields %}
        <li><strong>{{item}}</strong></li>
        {% endfor %}
    </ul>
{% endif %}


{% if repeat_fields %}
<h2>Estudiantes con Campos repetidos:</h2>
<h3>Cantidad: {{repeat_fields|length}}</h3>
    <ul>
        {% for item in repeat_fields %}
        <li><strong>{{item}}</strong></li>
        {% endfor %}
    </ul>
{% endif %}