{% extends 'base.html' %}

{% load static %}


{% block title %}
  Inicia sesión
{% endblock title %}
  


{% block extrahead %}
  <link href="{% static 'user/css/login.css' %}" rel="stylesheet" />
{% endblock extrahead %}

{% block navbar %}
{% endblock navbar %}

{% block body %}
  <div class="container">
    {% if messages %}
      <div class="error-container">
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        <a href="/close/messages/">✕</a>
      </div> 
    {% endif %}
    <div class="login-container">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-field-container">
          {{form.username}}
          {% for error in form.username.errors %}
            <p class="error">{{error}}</p>
          {% endfor %}
        </div>
        <div class="form-field-container">
        {{form.password}}
        {% for error in form.password.errors %}
            <p class="error">{{error}}</p>
        {% endfor %}
        </div>

        <button type="submit">Iniciar sesión</button>
        <br>
        <a href="/signup/">Crear Cuenta</a>
      </form>
    </div>
  </div>
{% endblock %}
  
