:root {
  --background-color: #426770;
  --foreground-color: #759aa5;
  --shadow-color: #335661;
  --button-color: #547883;
}

.form-field-container {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form-field {
  width: 80%;
  display: block;
  border: none;
  padding: 20px 10px 5px 0;
  font-size: 18px;
  border-bottom: solid 1px var(--background-color);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 100%,
    var(--background-color) 2%
  );
  background-position: -100% 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  &::placeholder {
    color: var(--background-color);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  }
  &:focus {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 98%,
      var(--foreground-color) 4%
    );
    &::placeholder {
      color: var(--foreground-color);
      font-size: 15px;
      transform: translateY(-20px);
      visibility: visible !important;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 12px;
}

a {
  text-decoration: none;
}
.error {
  color: red;
  font-size: 12px;
}

.navbar {
  background-color: var(--shadow-color);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.text {
  color: white;
}

.title {
  font-size: 25px;
}

.end-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  background-color: var(--button-color);
  border-radius: 5px;
  color: white;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  text-decoration: none;
  box-shadow: 2px 2px 10px var(--shadow-color);
  &:hover {
    transform: translateY(-2px);
    background-color: var(--foreground-color);
  }
}

form > .button {
  font-size: medium;
  width: 500px;
  box-shadow: 2px 2px 10px var(--foreground-color);
}

.message-container {
  position: absolute;
  width: 100%;
  justify-content: center;
  display: flex;
  top: 20px;
}

.message-container > div {
  width: 80%;
  height: 50px;

  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 10px;
  gap: 10;
  justify-content: space-between;
}

.success-container {
  background-color: #d1e6df;
  color: #0a3622;
}

.error-container {
  background-color: #f8d6db;
  color: #641f26;
}

.username {
  font-size: 15px;
}
